// Colors
$clrBlk: rgb(38, 38, 38);
$clrTruBlk: rgb(0, 0, 0);
$clrDrkGry: rgb(115, 115, 115);
$clrMedGry: rgb(199, 199, 199);
$clrLightGry: rgb(239, 239, 239);
$clrBgWhite: rgb(255, 255, 255);
$clrBlu: rgb(0, 149, 246);
$clrDrkBlu: rgb(24, 119, 242);
$clrPostBtn: rgb(14, 128, 244);
$clrPostBtnHvr: rgb(5, 40, 88);


$nav-width: 16%;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Font colorss
$--system-20-font-size: 20px;

//font-family
$sogoeui-sansaserif: Segoe UI, sans-serif;